<div class="content">
  <div class="div_middle">
    <!-- Top Fixed Alert / Ads Contact -->
    <div class="alert-note-fix">
      <p class="alert alert-info">
        Đăng nhập tài khoản để tự động đồng bộ truyện theo dõi và lịch sử đọc trên mọi thiết bị!
        <span class="ads-contact">Liên hệ ads: <a target="_blank" rel="nofollow" href="https://t.me/truyenkomi">t.me/truyenkomi</a></span>
      </p>
    </div>

    <div class="main_content">
      <!-- Community Cards Section (Join Community & Partner CTA) -->
      <div class="community-section">
        <!-- Join Community Card -->
        <div class="community-card community-card--join">
          <div class="community-card__icon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="community-card__body">
            <div class="community-card__text">
              <h3 class="community-card__title">THAM GIA CỘNG ĐỒNG</h3>
            </div>
            <div class="community-card__divider"></div>
            <div class="community-card__avatars">
              <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?auto=format&fit=crop&w=60&q=80" alt="reader" />
              <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?auto=format&fit=crop&w=60&q=80" alt="reader" />
              <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?auto=format&fit=crop&w=60&q=80" alt="reader" />
              <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?auto=format&fit=crop&w=60&q=80" alt="reader" />
              <span class="community-card__count">+1.2K</span>
            </div>
          </div>
          <div class="community-card__socials">
            <a href="https://facebook.com" target="_blank" rel="nofollow" class="community-social community-social--fb" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://telegram.org" target="_blank" rel="nofollow" class="community-social community-social--tg" title="Telegram">
              <i class="fa fa-paper-plane"></i>
            </a>
          </div>
        </div>

        <!-- Partner Banner Card -->
        <div class="community-card community-card--partner">
          <div class="community-card__icon">
            <i class="fa fa-handshake-o" aria-hidden="true" style="color: #0d9488;"></i>
          </div>
          <div class="community-card__body">
            <div class="community-card__text">
              <h3 class="community-card__title">HỢP TÁC CÙNG TRUYENKOMI</h3>
            </div>
            <div class="community-card__divider"></div>
            <a href="https://t.me/truyenkomi" target="_blank" rel="nofollow" class="community-card__cta">
              <i class="fa fa-paper-plane"></i>
              <span class="cta-text">Liên hệ qua Telegram</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Suggested / Hot Comics Carousel Slider -->
      <div class="homepage_suggest">
        <div class="section-heading">
          <h2 class="text_list_hot">
            <i class="fa fa-fire text-danger" aria-hidden="true"></i> TRUYỆN HOT
          </h2>
          <div class="section-heading-right">
            <a class="section-view-all" [routerLink]="['/comics']" [queryParams]="{ sort: 'hot' }">
              Xem Tất Cả <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>

        <div id="div_suggest" #suggestContainer>
          <ul class="list_grid" id="list_suggest" *ngIf="!isLoadingHot; else suggestSkeleton">
            <li class="comic-item" *ngFor="let comic of hotComics">
              <div class="book_avatar">
                <a [routerLink]="['/comic', comic.slug]">
                  <img [src]="comic.coverImage" [alt]="comic.title" loading="lazy" (error)="onImgError($event)" />
                </a>
                <div class="top-notice">
                  <span class="time-ago">{{ formatTimeAgo(comic.updatedAt) }}</span>
                </div>
                <div class="top-notice-right">
                  <span class="type-label hot">Hot</span>
                </div>
              </div>
              <div class="book_info">
                <div class="book_name">
                  <h3>
                    <a [title]="comic.title" [routerLink]="['/comic', comic.slug]">{{ comic.title }}</a>
                  </h3>
                </div>
                <div class="last_chapter" *ngIf="comic.latestChapter">
                  <a [routerLink]="['/comic', comic.slug]">Chapter {{ comic.latestChapter.chapterNumber }}</a>
                </div>
              </div>
            </li>
          </ul>

          <ng-template #suggestSkeleton>
            <ul class="list_grid" id="list_suggest">
              <li class="comic-item" *ngFor="let _ of skeletonHotCards">
                <div class="book_avatar skeleton" style="height: 210px;"></div>
                <div class="book_info">
                  <div class="skeleton skeleton-text" style="width: 90%;"></div>
                  <div class="skeleton skeleton-text" style="width: 50%;"></div>
                </div>
              </li>
            </ul>
          </ng-template>
        </div>

        <!-- Scroll Left / Right buttons -->
        <div class="scroll">
          <div class="left" (click)="scrollSuggest('left')"><i class="fa fa-angle-left"></i></div>
          <div class="right" (click)="scrollSuggest('right')"><i class="fa fa-angle-right"></i></div>
        </div>
      </div>

      <!-- Main Latest Comics List Grid -->
      <div id="main_homepage">
        <div class="homepage_tags">
          <div class="section-heading">
            <h1 class="text_list_update">
              <i class="fa fa-bolt" aria-hidden="true"></i> TRUYỆN MỚI CẬP NHẬT
            </h1>
            <div class="section-heading-right">
              <a class="section-view-all" [routerLink]="['/comics']">
                Xem Tất Cả <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="clear"></div>
        </div>

        <div class="list_grid_out">
          <ul class="list_grid grid" id="list_new" *ngIf="!isLoading; else gridSkeleton">
            <li class="comic-item" *ngFor="let comic of latestComics; let i = index">
              <div class="book_avatar">
                <a [routerLink]="['/comic', comic.slug]">
                  <img [src]="comic.coverImage" [alt]="comic.title" loading="lazy" (error)="onImgError($event)" />
                </a>
                <div class="top-notice">
                  <span class="time-ago">{{ formatTimeAgo(comic.updatedAt) }}</span>
                </div>
                <div class="top-notice-right">
                  <span class="type-label" [ngClass]="i % 3 === 0 ? 'hot' : 'new'">{{ i % 3 === 0 ? 'Hot' : 'New' }}</span>
                </div>
              </div>
              <div class="book_info">
                <div class="book_name">
                  <h3>
                    <a [title]="comic.title" [routerLink]="['/comic', comic.slug]">{{ comic.title }}</a>
                  </h3>
                </div>
                <div class="last_chapter" *ngIf="comic.latestChapter">
                  <a [routerLink]="['/comic', comic.slug]">Chapter {{ comic.latestChapter.chapterNumber }}</a>
                </div>
              </div>
            </li>
          </ul>

          <ng-template #gridSkeleton>
            <ul class="list_grid grid">
              <li class="comic-item" *ngFor="let _ of skeletonCards">
                <div class="book_avatar skeleton" style="height: 210px;"></div>
                <div class="book_info">
                  <div class="skeleton skeleton-text" style="width: 85%;"></div>
                  <div class="skeleton skeleton-text" style="width: 45%;"></div>
                </div>
              </li>
            </ul>
          </ng-template>
        </div>

        <!-- View More Link -->
        <div class="has-text-centered">
          <a [routerLink]="['/comics']" class="view-more-btn">Xem thêm nhiều truyện</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Back to Top Button -->
<a id="back-to-top" (click)="scrollToTop()" title="Lên đầu trang">
  <i class="fa fa-angle-up"></i>
</a>
